/* google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* global style */

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.btn-login{
    background-color: #E77C40;
    color: #ffffff;
    padding: 5px 0;
}

.btn-general{
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-general,
.btn-outline-orange:hover{
    background-color: #E76F51;
    color: #ffffff;
    border: 1px solid transparent;
}

.btn-outline-orange{
    border: 1px solid #E76F51;
    background-color: #ffffff;
    color: #E76F51;
}

.btn-general:hover{
    color: #ffffff;
}

.btn-general:focus{
    box-shadow: none;
}

.btn-orange{
    background-color: #E76F51;
    color: #ffffff;
}

.btn-orange:hover{
    background-color: #cc6247;
    color: #ffffff;
}

.border-orange{
    border-color: #E77C40;
}

.bg-orange{
    background-color: #E77C40;
}

.section-heading{
    margin-bottom: 5px;
    font-size: 48px;
    font-weight: 600;
    color: #0A0826;
    text-align: center;
}

.section-heading > span{
    color: #E76F51;
}

.section-title{
    font-size: 14px;
    color: #E76F51;
    text-align: center;
    margin-bottom: 25px;
}

/* header style */

.header-sec{
    background-color: #264653;
}

.hero-header{
    margin: 10px 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 48px;
}

.hero-desc{
    margin: 20px 0;
    text-align: justify;
    color: #E0E0E0;
    font-weight: 300;
    font-size: 14px;
}

.hero-img{
    width: 522px;
}

/* fetured style */

.fetured-img{
    display: block;
    margin: 0 auto;
    width: 285px;
    height: 240px;
}

.fetured-img-gray{
    filter: grayscale(100%);
}

/* latest news style */

.news-sec{
    background-color: #f5f5f5;
}

.bikes-card{
    padding: 20px;
    border-radius: 10px;
}

.news-header{
    font-weight: 600;
    color: #18191F;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.news-desc{
    text-align: justify;
    color: #6C6C6C;
    font-size: 15px;
}

/* clients style */

.clients-card{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}

.clients-img{
    display: block;
    margin: 0 auto;
    width: 149px;
}

.clients-desc{
    font-size: 16px;
    color: #6C6C6C;
    margin-top: 15px;
}

.clients-icons{
    color: #E77C40;
    margin-bottom: 15px;
}

.clients-name{
    color: #23A6F0;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.clients-position{
    font-size: 14px;
    font-weight: 600;
    color: #0A0826;
}

/* faq style */

.faq-img{
    width: 424.8px;
}

.faq-item{
    border-radius: 10px;
}

.accordion-button:not(.collapsed){
    background-color: #ffffff;
    color: #18191F;
    font-weight: 600;
}

.faq-body p{
    font-size: 16px;
    color: #6C6C6C;
}

.accordion-button:focus,
.accordion-button:not(.collapsed){
    box-shadow: none;
}

.faq-header{
    font-size: 20px;
    font-weight: 600;
}

/* pricing style*/

.pricing-sec{
    background-color: #f5f5f5;
}

/* footer style */

.footer-sec{
    background-color: #0A0826;
}

.footer-list-item a{
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

.footer-copyright{
    color: #ffffff;
    padding-left: 10px;
}

.footer-text{
    color: #ffffff;
    margin: 0;
}

/* medium devices */

@media (max-width:768px){
    .nav-bg{
        margin-top: 10px;
        background-color: #353535;
    }
    .hero-img{
        margin-top: 50px;
    }
}

/* small devices */

@media (max-width: 540px){
    .hero-header{
        font-size: 40px;
        font-weight: 700;
    }
    .section-heading{
        font-size: 38px;
    }
    .news-header{
        font-size: 24px;
    }
}